<div class="row" >
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div> -->

        <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
        <!-- here we have to set the message property which we made bind-able with at input. And I'll set this to error and I'll show the entire alert box here with the app alert element only if we have an error.So now we're simply just showing our own alert component. -->


        <ng-template  appPlaceHolder>

            <!-- Now you could add a div, but there is a better element. You should use NG template here. This is a directive angular ships with which will not actually render anything to the dom, but still is accessible in the angular templating language. This is great because we don't add the overhead of an extra dom element here. Instead we can now simply just well get access to a place in the dom. -->

            <!-- To this  <ng-template > we add app placeholder like this. This new placeholder directive we created. -->

            <!-- So now we have that NG template element added which is considered by angular when it parses the template but which does not render a real element to the real dom, which is great, but we will be able to get access to this place in the dom thereafter. It's simply remembered internally by angular you could say. -->

            <!-- Well, in the auth component typescript file we can now get access to that directive with the help of that view child, which you already learned -->

        </ng-template>



        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">

            <div class="form-group">
                <label for="email" >E-mail</label>
                <input 
                type="email" 
                id="email" 
                class="form-control"
                formControlName="email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                id="password" 
                class="form-control"
                formControlName="password">
            </div>

            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{isLoginMode? 'Log In'  :  'Sign Up'}}</button> |
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button" >Switch to {{isLoginMode ?  'Sign Up' :  'Log In'}}</button>
            </div>
            
        </form>
    </div>
</div>


<!-- <form>: This is the HTML element representing the form itself. It acts as a container for all the form elements (inputs, labels, etc.) and is used to group related form controls. -->