<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New recipe</button>

        <!-- <button class="btn btn-success" [routerLink]="['new']">New recipe</button> -->
        <!-- relative path, we stand here on /recipes so with this routerLink we are at /recipes/new as coded in the path: -->
       <!--the commented way is my Way you can see a secode way to navigate to the edit page when clicking on this button -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- here I replicate single recipe item multiple times -->
        <app-recipe-item
        *ngFor="let r of recipes; let i = index"
        [index]="i"
        >    
    </app-recipe-item>
    </div>
</div>